@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-size: 15px;
  min-height: 100%;
  min-width: 100%;
}

.container {
  position: relative;
  height: 100vh;
}

.container .navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar .logo {
  width: 18rem;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

.container .navbar .ham {
  width: 3rem;
  height: auto;
  margin: auto 0;
  cursor: pointer;
  z-index: 1;
}

.container .navbar .close {
  width: 3rem;
  height: auto;
  margin: auto 0;
  cursor: pointer;
  visibility: hidden;
}

.container .navbar .aktif {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container .navbar ul {
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: black;
  position: fixed;
  list-style: none;
  margin-top: -5rem;
  margin-left: -3rem;
  padding-top: 15rem;
  padding-bottom: 100vh;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .navbar ul li {
  padding-left: 3rem;
  display: block;
  padding-bottom: 2rem;
}

.container .navbar ul li a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

.container .navbar ul li a:focus {
  -webkit-box-shadow: 0px 5px 1px 0px white;
          box-shadow: 0px 5px 1px 0px white;
}

.container .home {
  position: relative;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container .home .bgHero {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
}

.container .home .overlay {
  position: absolute;
  padding-top: 28.25rem;
}

.container .home .overlay h1 {
  border: 2px solid white;
  margin: 0 3rem;
  padding: 3rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 5rem;
}

.container .leader {
  margin: 12rem 3rem 11rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .leader img {
  max-width: 100%;
  height: auto;
}

.container .leader h2 {
  color: dimgray;
  padding-top: 6rem;
  text-align: center;
  font-size: 3.875rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.container .leader p {
  line-height: 1.7;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  font-size: 1.875rem;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #8c8c8c;
}

.container .creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 12rem;
}

.container .creations h2 {
  color: dimgray;
  text-align: center;
  font-size: 3.875rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 6.5rem;
}

.container .creations button {
  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;
  padding: 22px 78px;
  color: black;
  letter-spacing: 8px;
  font-size: 2rem;
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

.container .creations .creation_list {
  margin: 0 auto;
  position: relative;
  margin-bottom: 3rem;
}

.container .creations .creation_list h3 {
  font-weight: 200;
  text-align: left;
  margin-left: 2.5rem;
  margin-right: 25rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #8c8c8c;
  bottom: 2rem;
  position: absolute;
  color: white;
  font-size: 2.875rem;
  text-transform: uppercase;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.container .footer img {
  margin-top: 7rem;
  width: 18rem;
  height: auto;
  cursor: pointer;
}

.container .footer .nav_foot {
  margin-top: 3.5rem;
}

.container .footer .nav_foot a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.container .footer .sosmed {
  margin-top: 6rem;
}

.container .footer .sosmed img {
  margin: 0 1rem;
  width: 3rem;
}

.container .footer p {
  margin-top: 1rem;
  margin-bottom: 2.875rem;
  color: #8c8c8c;
  font-size: 2rem;
}

@media screen and (max-width: 749px) {
  .container {
    overflow-x: hidden;
  }
  .container .navbar {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 2rem;
  }
  .container .navbar .logo {
    width: 8rem;
    height: auto;
  }
  .container .navbar .ham {
    width: 1.5rem;
    height: auto;
  }
  .container .navbar .close {
    width: 1.25rem;
    height: auto;
  }
  .container .navbar ul {
    width: 100vw;
    padding-top: 12rem;
  }
  .container .navbar ul li a {
    font-size: 1.5rem;
  }
  .container .home .overlay {
    padding-top: 12rem;
  }
  .container .home .overlay h1 {
    margin: 0 2rem;
    padding: 2rem;
    font-size: 2.25rem;
  }
  .container .leader {
    margin: 6rem 2rem 8rem 2rem;
  }
  .container .leader h2 {
    padding-top: 4rem;
    font-size: 2rem;
  }
  .container .leader p {
    line-height: 1.7;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 1.125rem;
  }
  .container .creations {
    padding-bottom: 12rem;
  }
  .container .creations h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .container .creations button {
    padding: 10px 30px;
    font-size: 1rem;
  }
  .container .creations .creation_list {
    margin: 0 1.5rem;
    position: relative;
    margin-bottom: 1rem;
  }
  .container .creations .creation_list img {
    width: 100%;
  }
  .container .creations .creation_list h3 {
    font-weight: 200;
    margin-left: 1.5rem;
    margin-right: 10rem;
    bottom: 1.5rem;
    font-size: 1.25rem;
  }
  .container .footer img {
    margin-top: 4rem;
    width: 8rem;
  }
  .container .footer .nav_foot {
    margin-top: 3rem;
  }
  .container .footer .nav_foot a {
    font-size: 1.5rem;
  }
  .container .footer .sosmed {
    margin-top: 4rem;
  }
  .container .footer .sosmed img {
    margin: 0 1rem;
    width: 1.5rem;
  }
  .container .footer p {
    margin-top: 2rem;
    margin-bottom: 2.875rem;
    color: #8c8c8c;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    overflow: hidden;
  }
  .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .navbar .logo {
    width: 18rem;
    height: auto;
    margin: 0;
  }
  .container .navbar .ham {
    display: none;
    width: 3rem;
    height: auto;
    margin: auto 0;
  }
  .container .navbar .close {
    display: none;
  }
  .container .navbar ul {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 0;
    position: unset;
    display: unset;
    list-style: none;
    margin: auto 0;
    width: auto;
  }
  .container .navbar ul li {
    display: inline-block;
    padding: 0;
  }
  .container .navbar ul li a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
}
/*# sourceMappingURL=main.css.map */